<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <title>Teste Pratico</title>
    <meta name="Author" content="João Vitor" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <header th:fragment="cabecalho">
        <nav class="navbar navbar-expand-lg navbar-dark">

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navMobile"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div id="navMobile" class="navbar-collapse collapse buttons-nav">
            <a class="btn-nav nav-item nav-link spc" th:href="@{/}"><i class="fas fa-home"></i> Home</a>
            <a class="btn-nav nav-item nav-link spc" th:href="@{inserirVendas}"><i class="fa fa-shopping-cart"></i> Criar Venda</a>
            <a class="btn-nav nav-item nav-link spc" th:href="@{listarVendas}"><i class="fas fa-search"></i> Vendas Realizadas</a>
          </div>
        </nav>
      </header>

      <footer th:fragment="rodape">
        <div class="rodape">
            <span>Todos os Direitos Reservados - 2024 &copy; João Vítor Alves</span>
        </div>
      </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
